{
  "trailingComma": "none",
  "printWidth": 110,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "newlineBeforeReturn": true,
  "proseWrap": "always"
}
