.MuiCardContent-root{
  display: flex;
}
.formTitle{
  font-size: 34px;
}
.css-1uivygo-MuiPaper-root-MuiCard-root{
  @media (max-width: 630px) {
    display: block;
  }
}
.css-1bnosxa-MuiStack-root {
  @media (max-width: 630px) {
    gap: 1px;
  }
}
.bViTEF:hover{
  background-color: #117B65FF;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
  background: none;
}