.Mui-selected {
  border: none!important;
}

.tabImg {
  width: 100px;

  @media(max-width: 469px) {
    width: 60px;
    object-fit: contain;
  }

}

.activeImg {
  width: 294px;
  height: 294px;

  @media(max-width: 400px) {
    width: 110px;
    height: 110px;
  }

  @media (min-width: 400px) and (max-width: 600px) {
    width: 200px;
    height: 200px;
  }
}