.productName {
  overflow: hidden;
  max-height: 40px;
  cursor: pointer;

  &:hover {
    overflow: auto;
    max-height: none;
  }
}

.bullet {
  margin-left: 10px;
  margin-right: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #f2c94c;
}

.brandTitle {
  font-family: Roboto, sans-serif;
  margin-right: 4px;
  color: #7b818c;
  font-size: 14px;
  line-height: 36px;
}

.brandValue {
  font-family: Roboto, sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 36px;
}
