.product-analogies-slider-partner {
  .swiper-wrapper {
    display: none;

    @media (max-width: 600px) {
      display: flex;
      min-height: 90px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 15px;
    height: 25px;
    &::after {
      font-size: 25px;
      color: #809c9c;
    }
  }

  .swiper-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 200px;
  }
}
